In [7]:
#TASK1#
name = input("Enter your name: ")
age = input("Enter your age: ")
height = input("Enter your height: ")

Enter your name:  selver
Enter your age:  20
Enter your height:  167

In [9]:
print(name, age, height)

selver 20 167

In [17]:
#TASK2#
math_score = 50
physics_score = 70
chemistry_score = 80
average = (math_score + physics_score + chemistry_score) / 3

In [19]:
print(float(average))

66.66666666666667

In [21]:
#TASK3#
bookname = 'denemeler'

In [23]:
bookname[0]

'd'

In [25]:
bookname[-1]

'r'

In [31]:
len(bookname)

9

In [35]:
bookname[::-1]

'relemened'

In [51]:
#TASK4#
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

Enter first number:  44
Enter second number:  3

In [71]:
num1 + num2

47

In [57]:
num1 - num2

41

In [65]:
num2 * num2

9

In [67]:
num1 / num2

14.666666666666666

In [69]:
num1 % num2

2

In [77]:
#TASK5#
average_ = int(input("Enter your average: "))
if average_ >= 50:
    print('Geçti')
else:
    print('Kaldı')

Enter your average:  51

Geçti

In [81]:
#TASK6#
user_age = int(input("Enter your age: "))
if user_age >= 18:
    print("Ehliyet alabilirsiniz")
else:
    print("Ehliyet alamazsiniz")

Enter your age:  15

Ehliyet alamazsiniz

In [89]:
#TASK7#
product_price = float(input("Enter a fee of product: "))
discount_rate = float(input("Enter discount rate(%): "))
discounted_price = product_price - (product_price*discount_rate/100)
print(discounted_price)

Enter a fee of product:  450
Enter discount rate(%):  25

337.5

In [113]:
#TASK8#
var1 = 'a' < 'z'
var2 = 'e' == 'u'
print(var1)
print(var2)

True
False

In [105]:
print(var1 and var2)

False

In [107]:
print(var1 or var2)

True

In [119]:
not(var1)

False

In [125]:
#TASK9#
elma = int(input(" price of apple: "))
armut = int(input("price of pear: "))
kivi = int(input("price of kiwi: "))
total = elma + armut + kivi
if total > 200:
    total = total - (total*10 / 100)
print(total)

 price of apple:  50
price of pear:  75
price of kiwi:  90

193.5

In [1]:
#TASK10#
dogum_yili = int(input("Enter your birth year: "))
guncel_yil = 2025
yas = guncel_yil - dogum_yili
if yas >= 0 and yas <= 12:
    print("Çocuksunuz")
elif yas >= 13 and yas <= 17:
    print("Ergensiniz")
else:
    print("Yetişkinsiniz")

Enter your birth year:  2005

Yetişkinsiniz